.img2:hover{
    box-shadow: 5px 13px 13px 10px  lightslategray;
 }
 .img:hover{
    box-shadow: 5px 13px 13px 10px  lightslategray;
 }
 .img4:hover{
    box-shadow: 5px 13px 13px 10px  lightslategray;
 }
 .img:hover{
    box-shadow: 5px 13px 13px 10px  lightslategray;
 }
 .img:hover{
    box-shadow: 5px 13px 13px 10px  lightslategray;
 }
 .img6:hover{
    box-shadow: 5px 13px 13px 10px  lightslategray;
 }
 .img8:hover{
    box-shadow: 5px 13px 13px 10px  lightslategray;
 }

 .img:hover{
    box-shadow: 5px 13px 13px 10px  lightslategray;
 }




 #select8:hover{
    box-shadow: 10;
 }
 #head{
    text-shadow: 4px 4px lightslategray;
 }
